html,body {
  background-color:white;
  color: black;
  margin: 0%;
  overflow-y: auto;
}
.header{
    display:flex;
    justify-content: space-around;
    background: var(--palette-black-alpha-6,rgba(0, 0, 0, .06));
    padding:8px;
    margin:10px 24px;
    border-radius: 4px;
    overflow: hidden;
    z-index: 99;
  }
  #projectDropdown{
    margin: auto;
    padding: 10px;
    width: 20%;
    border-radius: 2px;
    border-style: hidden;
    background-color: transparent;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  th {
    background-color: #99ccff;
  }
  table {
    table-layout: fixed;
    width: 100%;
    margin:auto;
  }
  .container {
    overflow-x: auto;
}
  
  th,
  td {
    word-wrap: break-word;
    max-width: 150px; /* Adjust this value as per your desired cell width */
    white-space: normal;
    align-items: center;
    justify-content: center;
  }

  .container{
    margin:auto;
    margin-bottom: 50px;
  }
#downloadBtn {
    margin: 5px;
}

th,td{
  width:150px;
}
#buDropdown,#verticalHeadDropdown,#workFlowTypeDropdown,#stateDropdown{
  margin: 3px 3px;
  padding: 10px;
  width: 20%;
  border-radius: 2px;
  border-style: hidden;
  background-color: transparent;
  float:right;
}
#buDropdown:hover{
  background-color: var(--palette-black-alpha-6,rgba(0, 0, 0, .06));
}
.loading {
  position: fixed;
  top: 190px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(248,248,248,1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  z-index: 1000;
}
.highlighted-row {
  background-color: #dcdcdc;
}
.red-background{
  background-color: #8b0000;
}
.amber-background{
  background-color: #ffa500;
}
.green-background{
  background-color: #006400;
}