html,body {
  background-color:white;
  color: black;
  margin: 0%;
  overflow-y: auto;
}
.header{
    display:flex;
    justify-content: space-around;
    background: var(--palette-black-alpha-6,rgba(0, 0, 0, .06));
    padding:8px;
    margin:10px 24px;
    border-radius: 4px;
    overflow: hidden;
    z-index: 99;
  }
  #projectDropdown{
    margin: auto;
    padding: 10px;
    width: 20%;
    border-radius: 2px;
    border-style: hidden;
    background-color: transparent;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  th {
    background-color: #99ccff;
  }
  table {
    table-layout: fixed;
    width: 100%;
    margin:auto;
  }
  .container {
    overflow-x: auto;
}
  
  th,
  td {
    word-wrap: break-word;
    white-space: normal;
    align-items: center;
    justify-content: center;
  }

  .container{
    margin:auto;
    margin-bottom: 50px;
  }
#downloadBtn {
    margin: 5px;
}
th:nth-child(5) {
  width: 450px;
}
th,td{
  width:150px;
}

#buDropdown,#verticalHeadDropdown,#workFlowTypeDropdown,#stateDropdown{
  margin: 3px 3px;
  padding: 10px;
  width: 20%;
  border-radius: 2px;
  border-style: hidden;
  background-color: transparent;
  float:right;
}
#buDropdown:hover{
  background-color: var(--palette-black-alpha-6,rgba(0, 0, 0, .06));
}
.loading {
  position: fixed;
  top: 190px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(248,248,248,1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  z-index: 1000;
}
.highlighted-row {
  background-color: #dcdcdc;
}
.red-background{
  background-color: #8b0000;
}
.amber-background{
  background-color: #ffa500;
}
.green-background{
  background-color: #006400;
}
.loading {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  z-index: 10;
}
.select {
  height: 25px;
  overflow: auto;
}
.select2-container .select2-selection {
  height: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}
.select2-results__options[aria-multiselectable="true"] li {
  padding-left: 30px;
  position: relative
}
  .select2-results__options[aria-multiselectable="true"] li:before {
      position: absolute;
      left: 8px;
      opacity: .6;
      top: 6px;
      font-family: "FontAwesome";
      content: '\f096';
  }
  .select2-container--default .select2-results__option--selected:before
  {
    content: '\f046'!important;
  }
  .select2-results__options[aria-multiselectable="true"] li[aria-selected="true"]:before {
      content: '\f046';
  }
  button.select2-selection__choice__remove {
    margin-top: -8px;
}
.select2-container--default .select2-search--inline .select2-search__field {
  margin-top:12px;
}